/* ES 1 */
.ex-1-square {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  transition: background-color 2s;
}

.ex-1-square:hover{
  background-color: red;
}

/* ES 2 */

.ex-2-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 3s;
}

.ex-2-square:active{
  width: 100%;
}

/* ES 3 */

.ex-3-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: border-radius 2s;
}

.ex-3-square:hover{
  border-radius: 50%;
}

/* ES 4 */

.ex-4-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: opacity 2s;
}

.ex-4-square:hover{
  opacity: 0;
}

/* ES 5 */

.ex-5-square {
  margin: 20px;
  width: 60px;
  height: 60px;
  background: red;
  transition: transform 1s;
}

.ex-5-square:hover{
  transform: scale(2);
}

.ex-5-square:active{
  transform: scale(0.5);
}

/* ES 6,7,8 */
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

/* ES 6 */
.ex-6-img:hover{
  filter: grayscale(1);
}

/* ES 7 */
.ex-7-img{
  transition: filter 2s;
}

.ex-7-img:hover{
  filter: grayscale(1);
}

/* ES 8 */
.ex-8-img{
  transition: filter 2s, border-radius 2s;
}

.ex-8-img:hover{
  filter: blur(1px) saturate(2.2);
  border-radius: 10px;
}

/* ES 9 */
.ex-9-img {
  margin: 50px 100px;
  width: 400px;
  transition: filter 2s, border-radius 2s, transform 2s;
}

.ex-9-img:hover{
  filter: blur(1px) saturate(2.2);
  border-radius: 10px;
  transform: scale(1.5);
}


/* ES 10 */
.ex-10-icon {
  font-size: 60px;
  animation: spin-continuelly 1s infinite linear;
}

@keyframes spin-continuelly{
  to{
    transform: rotate(0deg);
  }
  from{
    transform: rotate(360deg);
  }
}

/* ES 11 */
.ex-11-icon {
  font-size: 60px;
}

.ex-11-icon:hover {
  animation: spin 2s linear ;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  90%{
    transform: rotate(310deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

/* ES 12,13 */
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}


/* ES 12 */
.ex-12-button:hover .ex-12-top-white{
  animation: trans-litbit-right 1s alternate infinite linear;
}

.ex-12-button:hover .ex-12-bottom-white{
  animation: trans-litbit-left 1s alternate infinite linear;
}

@keyframes trans-litbit-right{
  from{
    transform: translateX(0px);
  }
  to{
    transform: translateX(80px);
  }
}

@keyframes trans-litbit-left{
  from{
    transform: translateX(0px);
  }
  to{
    transform: translateX(-80px);
  }
}